@{
    ViewData["Title"] = "Faculty Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ErrorMessage = ViewData["ErrorMessage"] as string;
    string SuccessMessage = ViewData["SuccessMessage"] as string;
    List<StudentSubject> studentlist = ViewData["StudentSubjectList"] as List<StudentSubject>;
    Subject CurrentSubject = ViewData["Subject"] as Subject;
    Faculty CurrentFaculty = ViewData["Faculty"] as Faculty;
}
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" asp-action="/" asp-controller="Home">DRU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" asp-action="Faculty" asp-controller="Faculty">Home</a>
                <a class="nav-item nav-link" href="#">Subjects</a>
                <a class="nav-item nav-link" href="#">Profile</a>
            </div>
        </div>
        <a class="btn btn-secondary nav-item mr-3" asp-action="Logout" asp-controller="Home">Logout</a>
    </nav>
</div>
@* Error messages *@
<div>
    @if (null != ErrorMessage)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>
                @if (null != ErrorMessage)
                {
                    @ErrorMessage
                }
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    @if (null != SuccessMessage)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>
                @if (null != SuccessMessage)
                {
                    @SuccessMessage
                }
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>
<div class="container">
    <h1 class="text-center my-4">@CurrentSubject.SubjectName (@CurrentSubject.SubjectCode)</h1>
    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">StudentId</th>
                <th scope="col">Attendance</th>
                <th scope="col"><span class="glyphicon">&#x270f;</span>Edit</th>
            </tr>
        </thead>
        <tbody>
            @for(int i=0;i<studentlist.Count;i++){
                <tr>
                    <th scope="row">@(i+1)</th>
                    <td>@studentlist[i].Student.UniversityId</td>
                    <td>@studentlist[i].Attendance</td>
                    <td><a asp-action="UpdateAttendance" asp-controller="Faculty" asp-route-objId="@studentlist[i].Id" class="btn btn-primary">Update</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>