@model StudentSubject
@{
    ViewData["Title"] = "Faculty Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ErrorMessage = ViewData["ErrorMessage"] as string;
    string SuccessMessage = ViewData["SuccessMessage"] as string;

    Student stu = ViewData["StudentObj"] as Student;
    StudentSubject stusub = ViewData["StuSubObj"] as StudentSubject;
}

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" asp-action="Faculty" asp-controller="Faculty">DRU(@stu.UniversityId)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" asp-action="Faculty" asp-controller="Faculty">Home</a>
            </div>
            <a class="btn btn-secondary nav-item mr-3" asp-action="Logout" asp-controller="Home">Logout</a>
        </div>
    </nav>
</div>

@* Error messages *@
<div>
    @if (null != ErrorMessage)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>
                @if (null != ErrorMessage)
                {
                    @ErrorMessage
                }
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    @if (null != SuccessMessage)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>
                @if (null != SuccessMessage)
                {
                    @SuccessMessage
                }
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>

<div class="container">
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5">
                            <form asp-action="Update" asp-controller="Faculty" method="post">
                                <h3 class="mb-5 text-center">Update Attendance of @stu.UniversityId</h3>
                                <div class="form-outline mb-4">
                                    <input class="form-control form-control-lg" value="Student Id : @stu.UniversityId" readonly />
                                </div>

                                <div class="form-outline mb-4">
                                    <input class="form-control form-control-lg" value="Current Attendance : @stusub.Attendance" readonly/>
                                </div>

                                <div class="form-outline mb-4">
                                    <input asp-for="Attendance" class="form-control form-control-lg" placeholder="Enter New Attendance" autofocus required/>
                                </div>
                                <input asp-for="Id" value="@stusub.Id" class="form-control form-control-lg" hidden />
                                <input asp-for="SemesterNo" value="@stusub.SemesterNo" class="form-control form-control-lg" hidden />
                                <input asp-for="StudentId" value="@stusub.StudentId" class="form-control form-control-lg" hidden />
                                <input asp-for="SubjectId" value="@stusub.SubjectId" class="form-control form-control-lg" hidden />
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>